@import "root";

fieldset {
  border: $base-border;
  padding: $base-size;
  margin: 0;
}

legend {
  @include base-regular;
  padding: 0 1rem;
  margin-bottom: 0;
  line-height: inherit;
}

input,
button,
select,
textarea,
label {
  display: block;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
  line-height: inherit;

}

input[type="file"] {
  width: 100%;
}

select {
  -webkit-appearance: none;

  &::-ms-expand {
    display: none;
  }

  // Undo the Firefox inner focus ring.
  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.form {
  position: relative;
}

.form__row {
  position: relative;
  margin-bottom: $base-spacing;
}
