@import "root";

.main-memu {
  display: inline-flex;
  flex-flow: column wrap;
}

.main-memu__item {
  margin: .2rem 0;
}

.main-memu__link {
  @extend %link-with-bg;
  padding: 0 .4rem;
  display: inline-block;
  font-size: 1.6rem;
}
