@import "root";

.unordered-list {
  @extend %list-unordered;
}

.ordered-list {
  @extend %list-ordered;
}

// Definition list
dl {
  margin: 0;
}

dt {
  font-weight: bold;

  & ~ dt {
    margin-top: $small-spacing;
  }
}

dd {
  margin: 0;
}
