@import "root";

.tabs {
  position: relative;
}

.tabs__nav {
  @extend %inline-list;
  position: relative;
}

.tabs__nav-button {
  @extend %button-link;

  &.is-active {
    color: $action-active-color;
    pointer-events: none;
  }
}

.tabs__nav-label {
  background: lighten($silver, 8);
  padding: $xsmall-spacing $small-spacing;
  margin-bottom: $small-spacing;
  border-radius: $base-border-radius;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;

  .tabs__nav-button.is-active & {
    background: lighten($secondary-background, 1);
  }
}

.tabs__panels {
  margin-top: $small-spacing;
  width: 100%;
}

.tabs__body {
  position: relative;
  outline: none;
}
