@import "root";

table {
  border-spacing: 0;
  border-color: transparent;
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-weight: 600;
  padding: $xsmall-spacing;
  text-align: left;
}

td {
  padding: $xsmall-spacing;
}

tr,
td,
th {
  vertical-align: middle;

  @include mappy-bp(max small) {
    display: block;
  }
}

caption {
  margin-bottom: 2rem;
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
  font-style: italic;
  opacity: 0.65;

  @include mappy-bp(small) {
    font-size: 1.2rem;
  }
}
