@import "root";

.rate-card {
  line-height: 1.2;
  margin-bottom: 0;
}

.rate-card__value {
  @include base-regular;
  font-size: 2rem;
  margin-bottom: .5rem;
  display: block;
}

.rate-card__label {
  @include base-regular;
  display: block;
}

.rate-card__info {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-style: normal;
  opacity: .65;
}

