@import "root";

.rate-card {
  line-height: 1.2;
  margin-bottom: 0;
}

.rate-card__value {
  @include base-regular;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: .5rem;
  display: block;

  .rate-card--large & {
    font-size: 2rem;
  }
}

.rate-card__label {
  @extend %text-truncate;
  @include base-regular;
  display: block;
  margin-bottom: .2rem;
  font-size: 1.2rem;
}

.rate-card__info {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-size: .8rem;
  opacity: .65;
}

