@import "root";

.rate-card {
  line-height: 1.2;
  margin-bottom: 0;
}

.rate-card__value {
  @include base-regular;
  font-size: 1.6rem;
  margin-bottom: .5rem;
  display: block;

  @include mappy-bp(small) {
    font-size: 2rem;
  }
}

.rate-card__label {
  @include flex-width();
  @include base-regular;
  display: block;
  margin-bottom: .2rem;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include mappy-bp(small) {
    font-size: 1.4rem;
  }
}

.rate-card__info {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-size: .8rem;
  opacity: .65;
}

