@import "root";

.quote-card {
  display: block;
}

.quote-card__inner {
  padding: $small-spacing;
  border: $base-border;
  border-radius: $base-border-radius;
  overflow: hidden;

  .quote-card--link & {
    @extend %link-with-bg;
  }
}

.quote-card__label {
  @include heading-bold-italic;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.quote-card__rate {
  margin-top: $small-spacing;
  line-height: 1.2;

  &:empty {
    display: none;
  }

}

.quote-card__rate--central {
  .rate-card__value {
    font-size: 2rem;
  }
}

.quote-card__rate--commercial {
}
