@import "root";

.quote-card {
  display: block;

  &--link {
    @extend %link-with-bg;
  }
}

.quote-card__inner {
  @include flex-row;
  align-items: flex-end;
  padding: $small-spacing $xsmall-spacing 0;

  @include mappy-bp(max small) {
    flex-wrap: wrap;
  }
}

.quote-card__label {
  @include heading-regular-italic;
  padding-right: $xsmall-spacing;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  flex-shrink: 99;

  @include mappy-bp(max small) {
    @include flex-width;
  }

  @include mappy-bp(small) {
    padding-right: $base-spacing;
    font-size: 3rem;
  }
}

.quote-card__rate {
  margin-bottom: $small-spacing;
  line-height: 1.2;
  flex-grow: 99;

  @include mappy-bp(small) {
    padding-left: $xsmall-spacing;
  }

  &:empty {
    display: none;
  }
}

.quote-card__rate--central {
  @include flex-width;

  @include mappy-bp(small) {
    @include flex-width(22%);
  }
}

.quote-card__rate--commercial {
  @include flex-width(50%);

  @include mappy-bp(small) {
    @include flex-width(26%);
  }
}
