@import "root";

.converter-widget {
  @include flex-row;
  margin-left: -$xsmall-spacing;
  position: relative;
  overflow: hidden;

  .converter {
    @include flex-width(50%);
    margin-left: $xsmall-spacing;
    flex: 1 1 0%;
  }
}

.converter {
  background: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  position: relative;
  overflow: hidden;
}

.converter__label {
  position: absolute;
  left: $xsmall-spacing;
  top: $xsmall-spacing;
  text-transform: uppercase;
  font-style: normal;
  font-size: .8rem;
  opacity: .65;
}

.converter__input {
  @include base-regular;
  padding: 3rem $xsmall-spacing 1rem;
  margin-bottom: 0;
  background: transparent;
  border: 0;
  font-size: 2rem;
  line-height: 2rem;
  height: 6rem;
  width: 100%;
  outline: none;
}

.converter__currency-btn {
  @extend %button-link;
  background: lighten($silver, 8);
  padding: 0 $small-spacing;
  font-size: 1rem;
  height: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.converter__currency-btn.is-active {
  background: lighten($secondary-background, 1);
}

.converter__currency-btn--more {
  border-right: 0;
}
