@import "root";

.converter-widget {
  position: relative;
  padding: $xsmall-spacing;
  background: rgba($secondary-color, .4);
  box-shadow: 0 .2rem .4rem -.1rem rgba($primary-background, .4);
  border-radius: $base-border-radius;

  .converter {
    margin: $xsmall-spacing;
  }

  @include mappy-bp(small) {
    @include flex-row;

    .converter {
      flex: 1 1 0%;
    }
  }
}

.converter {
  background: $white;
  border: $base-border;
  border-radius: $base-border-radius;
  position: relative;
  overflow: hidden;
}

.converter__label {
  display: block;
  margin: $xsmall-spacing 0 0 $xsmall-spacing;
  text-transform: uppercase;
  font-style: normal;
  font-size: .8rem;
  opacity: .65;
}

.converter__input {
  @include base-regular;
  padding: 0 $xsmall-spacing;
  margin-bottom: $xsmall-spacing;
  background: transparent;
  border: 0;
  font-size: 2rem;
  line-height: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
}

.converter__currency-btn {
  @extend %button-link;
  background: lighten($silver, 8);
  border-top: $base-border;
  font-size: 1rem;
  height: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.converter__currency-btn.is-active {
  background: lighten($secondary-background, 1);
}

.converter__currency-btn--more {
  border-right: 0;
}
