@import "root";

.currency-card {
  position: relative;
}

.currency-card__inner {
  @extend %flex-row;
  @extend %link-with-bg;
  padding: $small-spacing $xsmall-spacing;
  align-items: flex-end;
}

.currency-card__label {
  @include heading-bold-italic;
  padding-right: $small-spacing;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  flex-grow: 1;
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 300;

  @include mappy-bp(small) {
    padding-right: $base-spacing;
    font-size: 3rem;
  }
}

.currency-card__slug {
  font-size: 1.2rem;
  text-transform: uppercase;
}
