@import "root";

.page {
  @extend %container;
}

.page__inner {
  @extend %flex-row;
  flex-wrap: wrap;
}

.page__top {
  @include flex-width();
  padding-bottom: $xsmall-spacing;
  position: relative;

  @include mappy-bp(small) {
    padding-bottom: $base-spacing;
  }
}

.page__content {
  @include flex-width();
  margin: 0 auto;
  order: 2;
}

.page-heading {
  font-size: 2rem;
  line-height: 1.2;

  @include mappy-bp(small) {
    font-size: 2.6rem;
  }
}
