@import "root";

.page {
  @extend %container;
}

.page__inner {
  @extend %flex-row;
  flex-wrap: wrap;
}

.page__top {
  @include flex-width();
  padding-bottom: $small-spacing;
  position: relative;
}

.page__content {
  @include flex-width();
  margin: 0 auto;
  order: 2;
}

.page-heading {
  font-size: 2rem;
  line-height: 1.2;
}

.page-lead {
  padding: $xsmall-spacing;
  background: rgba($secondary-color, .4);
  box-shadow: 0 .2rem .4rem -.1rem rgba($primary-background, .4);
  border-radius: $base-border-radius;
}
