@import "root";

.button {
  @extend %flex-row;
  @extend %button-link;
  font-size: $base-font-size;
  padding: 0;
}

.button__label {
  @extend %text-truncate;
  @include base-bold;
  cursor: pointer;
  z-index: 1;
}
