@import "root";

.bank-card {
  position: relative;
}

.bank-card__inner {
  @extend %flex-row;
  @extend %link-with-bg;
  border-bottom: $base-border;
  padding: $xsmall-spacing;
  align-items: flex-end;
}

.bank-card__label {
  @include flex-width();
  @include heading-bold-italic;
  padding-right: $small-spacing;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  flex-grow: 1;
  font-size: 2rem;
  line-height: 1.2;
}

.bank-card__slug {
  font-size: 1.2rem;
  text-transform: uppercase;
}
