@import "root";

.converter-card {
  @extend %button-link;
  display: block;
  position: relative;
  padding: 0;
  width: 100%;
}

.converter-card__inner {
  @extend %link-with-bg;
  @extend %flex-row;
  border-bottom: $base-border;
  padding: $xsmall-spacing;
  align-items: center;
}

.converter-card__label {
  @include flex-width();
  @include heading-bold-italic;
  padding-right: $small-spacing;
  text-transform: lowercase;
  letter-spacing: -0.1rem;
  font-size: 2.2rem;
  line-height: 1.2;
}

.converter-card__value-wrapper {
  @extend %flex-row;
  @include flex-width();
  justify-content: space-between;
  align-items: center;
}

.converter-card__input,
.converter-card__value,
.converter-card__slug {
  @include base-regular;
  border: .1rem dashed transparent;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
  width: 100%;
}

.converter-card__input,
.converter-card__value {
  color: $base-font-color;
  border-color: $form-input-border-color;
  padding: 0 $form-input-padding;
  background-color: transparent;
  -webkit-appearance: none;

  .converter-card:hover &,
  .is-active & {
    background-color: transparent;
    outline: none;
  }
}

.converter-card__slug {
  margin-left: $small-spacing;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-color: transparent;
  width: auto;
}

@include mappy-bp(max small) {
  .converter-card__inner {
    flex-wrap: wrap;
  }
}

@include mappy-bp(small) {
  .converter-card__value-wrapper {
    @include flex-width(40%);
  }

  .converter-card__input,
  .converter-card__value {
    font-size: 2rem;
  }
}

