@import "root";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.modal__backdrop {
  @extend %absolute-cover;
  background: rgba($dark-gray, .9);
  padding: $large-spacing 0;
  overflow-y: auto;
}

.modal__inner {
  background: $base-background;
  width: 56rem;
  margin: 0 auto;
  max-width: calc(100% - #{$small-spacing});
  height: auto;
  border-radius: $base-border-radius;
  overflow: hidden;
}

.modal__header {
  background: $light-gray;
}

.modal__title {
  @include heading-bold;
  color: $dark-gray;
  padding: $small-spacing;
  padding-right: 4rem;
  line-height: 1.2;
}

.modal__btn-close {
  @extend %button-link;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  padding: 0;

  svg {
    fill: $medium-gray;
  }

  &:hover svg{
    fill: $dark-gray;
  }
}

.modal__content {
  padding: $base-spacing $small-spacing;
}
