@import "root";

.best-quotes {
  @include flex-row;
  position: relative;
  margin-left: -$xsmall-spacing;
  margin-top: $xsmall-spacing;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .quote-card {
    @include flex-column;
    @include flex-width(14rem);
    padding-left: $xsmall-spacing;
  }
}

@include mappy-bp(small) {
  .best-quotes {
    .quote-card {
      @include flex-width(calc(100%/5));
    }
  }
}
