@import "root";

.currency-top {
  position: relative;
}

.currency-top__label {
  line-height: 1;
  vertical-align: bottom;
}

@include mappy-bp(max small) {
  .currency-top__table {
    margin: 0;
  }

  .currency-top__rate {
    display: inline-block;
    width: 36%;
  }

  .currency-top__rate--commercial {
    display: inline-block;
    width: 32%;
  }
}

@include mappy-bp(small) {
  .currency-top {
    position: relative;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
  }
}
